<div class="container">
<p *ngIf="!product">No product or invalid product Id</p>
<div class="box" *ngIf="product">
  
   <div class="Image">
      <img [src]="product.imageUrl" />
   </div>
   <div class="details">
     <div class="field">
        <label>
            Name
        </label>
        <p>{{product.name}}</p>
     </div>  
     <div class="field">
        <label>
            Description
        </label>
        <p>{{product.description}}</p>
     </div> 
     <div class="field">
        <label>
           Price
        </label>
        <p>{{product.price}}</p>
     </div> 
     <div class="field">
        <label>
           Category
        </label>
        <p>{{product.category}}</p>
     </div> 
     <div class="field">
        <label>
            Phone ({{product.select}})
        </label>
        <p>{{product.phoneNumber}}</p>
     </div> 
   </div>
</div>
</div>