<div class="container" *ngIf="!route.children.length">
   
   <div class="box">
         <app-loader [isloading]="loader"></app-loader>
      <div *ngIf="!pokeFeed.length">No pokemon found</div>
      <div class="content" *ngFor="let feed of pokeFeed | filterpokemon: headerVal">
          <app-tiles [link]="link" [id]="feed.id" [name]="feed.name" [imagePath]="feed.url"></app-tiles>
      </div>
   </div>
   <div class="pagination">
      <button (click)="pageHandler('previous')" [disabled]="!previous" [ngClass]="[previous ? 'btn-primary' : 'btn-default']">Previous</button>
      <button (click)="pageHandler('next')" [disabled]="!next" [ngClass]="[next ? 'btn-primary' : 'btn-default']">Next</button>
   </div>

</div>
<router-outlet></router-outlet>

